*.pyc
*.pyo
*.pyd
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

#Translations
*.mo

# PyGooglePlus
.idea/
ext__
ext/libcharsetdetect/mozilla_
src/cchardet/*.c
src/cchardet/*.o
src/cchardet/*.cpp
libcharsetdetect.dll
MANIFEST
.o
