[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
chardet = "==5.2.0"
tox = "==4.15.0"
Cython = "==3.0.10"
pylint = "==3.2.2"
wheel = "==0.43.0"
twine = "==5.1.0"
autopep8 = "==2.1.2"
